/* Centering the entire content */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    margin:0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    width:70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.word{
    margin-bottom: 10px;
}

.audio-container {
    margin-top: 20px;
}

.audio-container audio {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.img-video-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.img-video-container img,
.img-video-container video {
    width: 50%;
    max-width: 400px;
    height: auto;
}

.breadcrumb {
    padding: 10px 20px;
    display: flex;
    align-items: left;
    list-style: none;
    margin: 0;
    font-size: 16px;
}

.breadcrumb-item {
    color: #06BBCC;
}

.breadcrumb-item a {
    color: #06BBCC;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: rgb(84, 84, 84);
    font-weight: normal;
}